* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    padding: 16px;
}

.container {
    margin: 30px 250px;
}

form input, button, p {
    display: flex;
    margin-bottom: 8px;
    margin-left: 12px;
}

form input {
    height: 30px;
}

button {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.767);
    color: white;
    border: none;
    padding: 8px;
}

.error {
    outline-color: red;
    color: white;
    background-color: red;
    padding: 8px;
    display: none;
}

.result {
    display: none;
    background-color: rgba(0, 128, 0, 0.767);
    color: white;
    padding: 8px;
}


