* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

body > header {
    background-color: black;
    color: white;
    padding: 16px 0px;
}

header li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

header li a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section h2 {
    font-size: 32px;
}

section h2, .articles article {
    padding: 16px 0px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

#sports {
    background-color: rgba(0, 255, 0, 10%);
}

#sports .articles article a {
    background-color: rgb(4, 196, 4);
    color: black;
    font-weight: bold;
}

#economy {
    background-color: rgba(255, 255, 0, 0.322);
}

#economy .articles article a {
    background-color: orange;
    color: black;
    font-weight: bold;
}

#entertainment {
    background-color: rgba(255, 0, 0, 20%);
}

#entertainment .articles article a {
    color: black;
    background-color: rgba(255, 0, 0, 0.603);
}

#tecno {
    background-color: rgba(0, 0, 255, 30%);
}

#tecno .articles article a {
    color: black;
    background-color: aqua;
}


